<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nextlevel.evas.repository.AdminRepository">
  <select id="findAllEmployee" resultType="Employee">
    SELECT employee_id, name, reset_vacation_date, total_vacation_count, is_admin
    FROM employee
    ORDER BY reset_vacation_date;
  </select>
  
  <insert id="insertWhole" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="idx">
    INSERT INTO whole_vacation (start, end, content)
    VALUES (#{start}, #{end}, #{content})
  </insert>

  <update id="updateWhole" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="idx">
    UPDATE whole_vacation
    SET start = #{start}, end = #{end}, content = #{content}
    WHERE idx = #{idx}
  </update>
  
  <select id="findWholeByIdx" resultType="Vacation">
    SELECT *, 'abs08' as code, 'A' as approval_status, 'Y' AS is_whole
    FROM whole_vacation
    WHERE idx = #{idx}
  </select>
  
  <insert id="insert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="idx">
    INSERT INTO vacation (code, start, end, content, employee_id)
    VALUES (#{code}, #{start}, #{end}, #{content}, #{employeeId})
  </insert>

  <update id="update" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="idx">
    UPDATE vacation
    SET code = #{code}, start = #{start}, end = #{end}, content = #{content}
    WHERE idx = #{idx}
  </update>
  
  <select id="findByIdx" resultType="Vacation">
    SELECT v.*, GROUP_CONCAT(vh.date ORDER BY vh.date SEPARATOR ',') AS date
    FROM vacation v JOIN vacation_date vh ON v.idx = vh.vacation_idx
    WHERE v.idx = #{idx}
    GROUP BY v.idx, v.content, v.start, v.end, vh.vacation_idx
  </select>
  
  <select id="findAllApplication" resultType="Vacation">
    SELECT v.*, GROUP_CONCAT(vh.date ORDER BY vh.date SEPARATOR ',') AS date
    FROM vacation v JOIN vacation_date vh ON v.idx = vh.vacation_idx
    WHERE date between DATE_FORMAT(now(), '%Y-%m-01') and LAST_DAY(DATE_FORMAT(vh.date, '%Y-%m-%d'))
      and approval_status in ('W', 'R', 'C')
    GROUP BY v.idx, v.content, v.start, v.end, vh.vacation_idx
    ORDER BY v.start desc
  </select>
  
  <select id="findAllVacation" resultType="Vacation">
    SELECT res.*
    FROM (
      (SELECT *, 'N' AS is_whole FROM vacation
      WHERE approval_status = 'A'
      ORDER BY start desc)
      UNION ALL
      (SELECT *, 'Y' AS is_whole FROM whole_vacation)
    ) AS res;
  </select>
  
  <insert id="insertDate" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="idx">
    INSERT INTO vacation_date (vacation_idx, date)
    VALUES
      <foreach item="item" collection="list" separator=",">
        (#{item.vacationIdx}, #{item.date})
      </foreach>
  </insert>
  
  <delete id="deleteDate" parameterType="int">
    DELETE
    FROM vacation_date
    WHERE vacation_idx = #{vacationIdx}
  </delete>
</mapper>
