<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nextlevel.evas.repository.EmployeeRepository">
  <select id="findByLoginId" resultType="Employee">
    select employee_id, name, reset_vacation_date, total_vacation_count, is_admin, authority
    from employee
    where login_id = #{loginId} and password = #{password}
  </select>
  
  <select id="findUseVacationCountByEmployeeId" resultType="float">
    select sum(res.cnt) as use_vacation_count
    from (
      (select ifnull(sum(vc.value), 0) as cnt
      from vacation v join vacation_code vc on v.code = vc.code
      where v.employee_id = #{employeeId} and v.use_status = 'U')
      union all
      (select ifnull(count(idx), 0) as cnt
      from whole_vacation
      where use_status = 'U')
    ) as res;
  </select>
  
  <select id="findWithAuthoritiesByLoginId" resultType="Employee">
    select *
    from employee
    where login_id = #{loginId}
  </select>
</mapper>
