<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nextlevel.evas.repository.VacationRepository">
  <insert id="insert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="idx">
    INSERT INTO vacation (code, start, end, content, employee_id)
    VALUES (#{code}, #{start}, #{end}, #{content}, #{employeeId})
  </insert>

  <update id="update" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="idx">
    UPDATE vacation
    SET code = #{code}, start = #{start}, end = #{end}, content = #{content}
    WHERE idx = #{idx}
  </update>
  
  <delete id="delete" parameterType="int">
    DELETE
    FROM vacation
    WHERE idx = #{idx}
  </delete>
  
  <update id="updateUseStatus">
    UPDATE vacation
    SET use_status = 'U'
    WHERE DATEDIFF(start, DATE_FORMAT(now(), '%Y-%m-%d')) &gt;= 0;
  </update>
  
  <update id="updateWholeUseStatus">
    UPDATE whole_vacation
    SET use_status = 'U'
    WHERE DATEDIFF(start, DATE_FORMAT(now(), '%Y-%m-%d')) &gt;= 0;
  </update>
  
  <update id="updateCancellationContent">
    UPDATE vacation
    SET approval_status = 'C', cancellation_content = #{cancellationContent}
    WHERE idx = #{idx}
  </update>
  
  <select id="findByIdx" resultType="Vacation">
    SELECT v.*, GROUP_CONCAT(vh.date ORDER BY vh.date SEPARATOR ',') AS date
    FROM vacation v JOIN vacation_date vh ON v.idx = vh.vacation_idx
    WHERE v.idx = #{idx}
    GROUP BY v.idx, v.content, v.start, v.end, vh.vacation_idx
  </select>
  
  <select id="findAllApplicationByEmployeeId" resultType="Vacation">
    SELECT v.*, GROUP_CONCAT(vh.date ORDER BY vh.date SEPARATOR ',') AS date
    FROM vacation v JOIN vacation_date vh ON v.idx = vh.vacation_idx
    WHERE employee_id = #{employeeId}
      and date between DATE_FORMAT(now(), '%Y-%m-01') and LAST_DAY(DATE_FORMAT(vh.date, '%Y-%m-%d'))
      and approval_status in ('W', 'R', 'C')
    GROUP BY v.idx, v.content, v.start, v.end, vh.vacation_idx
    ORDER BY v.start desc
  </select>
  
  <select id="findAllVacationByEmployeeId" resultType="Vacation">
    SELECT res.*
    FROM (
      (SELECT *, 'N' AS is_whole FROM vacation
      WHERE employee_id = #{employeeId} AND approval_status = 'A'
      ORDER BY start desc)
      UNION ALL
      (SELECT *, 'Y' AS is_whole FROM whole_vacation)
    ) AS res;
  </select>
  
  <select id="findAllCalendar" resultType="Vacation" >
    SELECT res.*
    FROM (
      (SELECT v.*, GROUP_CONCAT(vh.date ORDER BY vh.date SEPARATOR ',') AS date, 'N' as is_whole
      FROM vacation v JOIN vacation_date vh ON v.idx = vh.vacation_idx
      WHERE approval_status = 'A'
        and date between DATE_FORMAT(DATE_ADD(now(), interval -6 MONTH), '%Y-%m-01')
        and LAST_DAY(DATE_FORMAT(DATE_ADD(now(), interval 6 MONTH), '%Y-%m-%d'))
      GROUP BY v.idx, v.content, v.start, v.end, vh.vacation_idx
      ORDER BY v.start desc)
      UNION ALL
      (SELECT *, start AS date, 'Y' as is_whole
      FROM whole_vacation)
    ) AS res;
  </select>
  
  <insert id="insertDate" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="idx">
    INSERT INTO vacation_date (vacation_idx, date)
    VALUES
      <foreach item="item" collection="list" separator=",">
        (#{item.vacationIdx}, #{item.date})
      </foreach>
  </insert>
  
  <delete id="deleteDate" parameterType="int">
    DELETE
    FROM vacation_date
    WHERE vacation_idx = #{vacationIdx}
  </delete>
</mapper>
