<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nextlevel.evas.repository.VacationRepository">
  <insert id="insert" parameterType="Vacation" useGeneratedKeys="true" keyProperty="idx">
    insert into vacation(code, start, end, content, period, type, employee_id)
    values(#{code}, #{start}, #{end}, #{content}, #{period}, #{type}, #{employeeId})
  </insert>
  
  <update id="update" parameterType="Vacation" useGeneratedKeys="true" keyProperty="idx">
    update vacation
    set code = #{code}, start = #{start}, end = #{end}, content = #{content},
      period = #{period}
    where idx = #{idx}
  </update>
  
  <delete id="delete" parameterType="int">
    delete
    from vacation
    where idx = #{idx}
  </delete>
  
  <update id="updateApprovalStatus" parameterType="Map">
    update vacation
    set approval_status = #{approvalStatus}, rejection_content = #{rejection_content}
    where idx = #{idx}
  </update>
  
  <select id="findByIdx" resultType="Vacation">
    select idx, code, start, end, content,
      period, type, approval_status, use_status, application_date,
      employee_id, rejection_content
    from vacation
    where idx = #{idx}
  </select>
  
  <select id="findAllApplicationByEmployeeId" resultType="Vacation">
    select idx, code, start, end, content,
      period, type, approval_status, use_status, application_date,
      employee_id, rejection_content
    from vacation
    where employee_id = #{employeeId}
      and DATEDIFF(start, DATE_FORMAT(now(), '%Y-%m-%d')) > 0
  </select>
  
  <select id="findAllVacationByEmployeeId" resultType="Vacation">
    select idx, code, start, end, content,
      period, type, approval_status, use_status, application_date,
      employee_id, rejection_content
    from vacation
    where employee_id = #{employeeId}
      and approval_status = 'A'
      and DATEDIFF(start, DATE_FORMAT(now(), '%Y-%m-%d')) &lt; 1
  </select>
  
  <select id="findAllCalendar" resultType="Vacation">
    select idx, code, start, end, content,
      period, type, approval_status, use_status, application_date,
      employee_id, rejection_content
    from vacation
    where approval_status = 'A'
      and -7 &lt; TIMESTAMPDIFF(MONTH, start, CURDATE())
      and TIMESTAMPDIFF(MONTH, start, CURDATE()) &lt; 7
  </select>
</mapper>
